In [22]:
import pandas as pd
import cv2
import os
import numpy as np

from PIL import Image

In [2]:
data = pd.read_csv("../FloodDataset/metadata.csv")

In [3]:
data.head()

   Image   Mask
0  0.jpg  0.png
1  1.jpg  1.png
2  2.jpg  2.png
3  3.jpg  3.png
4  4.jpg  4.png

In [4]:
len(data)

290

In [7]:
data.loc[ 0: 5, "Image"]

0    0.jpg
1    1.jpg
2    2.jpg
3    3.jpg
4    4.jpg
5    5.jpg
Name: Image, dtype: object

In [12]:
img_path = os.path.join("../FloodDataset/Image", data.loc[0, "Image"])

In [17]:
img = cv2.imread(img_path, cv2.IMREAD_COLOR)

In [18]:
print(img)

None

In [32]:
cat_img = Image.open("./cat.jpg")

In [33]:
cat_arr = np.asarray(cat_img)

In [34]:
cat_arr.shape

(1174, 1920, 3)